@import "tailwindcss";
@import "./animation.css";
@import "./button.css";
@import "./colors.css";
@import "./height.css";
@import "./icon.css";
@import "./input.css";
@import "./font.css";
@import "./global.css";
@import "./spacing.css";
@import "./width.css";