@import "tailwindcss";

/* @layer components {
    .btn {
        @apply px-4 py-2 rounded font-medium bg-pink-600 text-white hover:bg-blue-700;
    }

    .card {
        @apply rounded-lg border border-gray-200 bg-white p-4 shadow-sm;
    }
} */