:root {
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 52px;
}


@layer utilities {

    /* Padding */
    .p-xs {
        padding: var(--spacing-xs)
    }

    .p-sm {
        padding: var(--spacing-sm)
    }

    .p-md {
        padding: var(--spacing-md)
    }

    .p-lg {
        padding: var(--spacing-lg)
    }

    .p-xl {
        padding: var(--spacing-xl)
    }

    .p-2xl {
        padding: var(--spacing-2xl)
    }

    /* Margin */
    .m-xs {
        margin: var(--spacing-xs)
    }

    .m-sm {
        margin: var(--spacing-sm)
    }

    .m-md {
        margin: var(--spacing-md)
    }

    .m-lg {
        margin: var(--spacing-lg)
    }

    .m-xl {
        margin: var(--spacing-xl)
    }

    .m-2xl {
        margin: var(--spacing-2xl)
    }

    /* Gap (for flex/grid) */
    .gap-xs {
        gap: var(--spacing-xs)
    }

    .gap-sm {
        gap: var(--spacing-sm)
    }

    .gap-md {
        gap: var(--spacing-md)
    }

    .gap-lg {
        gap: var(--spacing-lg)
    }

    .gap-xl {
        gap: var(--spacing-xl)
    }

    .gap-2xl {
        gap: var(--spacing-2xl);
    }
}